maxLevel=I"5"
service.ranking=I"2000"
templatePaths=["/conf/talentacademy/settings/wcm/templates/base-page-template", "/conf/talentacademy/settings/wcm/templates/error-page-template", "/conf/talentacademy/settings/wcm/templates/experience-fragment-template", "/conf/talentacademy/settings/wcm/templates/nta-immersive-page-template", "/conf/talentacademy/settings/wcm/templates/placeholder-template"]
configPathPatterns=["/conf/talentacademy/site-config$1"]
contextPathRegex="^(/.+)$"
templateMatchAllLevels=B"true"
minLevel=I"1"