src/main/content/jcr_root/apps/talentacademy/clientlibs/clientlib-site
src/main/content/jcr_root/apps/talentacademy/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/talentacademy/clientlibs/clientlib-ta
