*, *::before, *::after, html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {    
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;  
}

[role='list'],ul,ol {
  list-style: none;
}

// Set core root defaults
html:focus-within {
  scroll-behavior: smooth;
}

// Improve media defaults
img, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: normal;
}
  
a {
  color: inherit;
}