.ta-rich-text-container {
    padding: 5rem 0;
    .ta-rich-text-content-wrapper {
        padding: 6.25rem 2.5rem;
        background-color: map-get($colors, 'white' );
    }
    @include md {
        padding: 5rem 20%;
     .ta-rich-text-content-wrapper {    
            padding: 6.75rem;
        }
    }
}