.ta-single-card-wrapper {
  padding: 3.75rem 1.25rem;
  background-color: map-get($colors, "cream25");
  .title5 {
    margin-bottom: 0.625rem;
    max-width: 50.6875rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    width: 100%;
  }
  .body4 {
    max-width: 50.6875rem;
    margin-bottom: 1.25rem;
  }
  .course-card__image img {
    width: 100%;
    height: 20rem;
  }
  @include md() {
    padding: 6.25rem 11.25rem;
    .title5 {
      margin-bottom: 1.25rem;
      height: fit-content;
    }
    .body4 {
      margin-bottom: 2.5rem;
    }
    .course-card {
      width: 100%;
      max-width: none;
      flex-direction: row;
      display: flex;
      .course-card__image img {
        height: 100%;
        width: 100%;
      }
      .course-card__image {
        width: 50%;
        height: 462px;
        .ta-tag {
          display: none;
        }
      }
      .course-card__description {
        padding: 2.16rem 3.75rem;
        text-align: left;
        width: 50%;
        .ta-tag {
          display: inline-block;
          margin-bottom: 1.25rem;
        }
      }
      .course-badges {
        justify-content: flex-start;
        margin-bottom: 0;
      }
      .course-card__titles {
        margin-bottom: 1.25rem;
        height: 140px;
      }
      .course-card__buttons {
        justify-content: flex-start;
      }
    }
  }
}

[dir="rtl"]{
  .ta-single-card-wrapper .course-card .course-card__description{
    text-align: right;
  }
}
